.container {
  color: #703738;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
  gap: 40px 80px;
}

.title {
  grid-column: 1 / 3;
  justify-self: center;
  font-size: 60px;
  font-weight: 500;
  line-height: .72;
  text-transform: uppercase;
}

.card {
  background: #F1EBEC;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  align-content: start;
  row-gap: 16px;
  padding: 60px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}

.container div:nth-child(2) {
  background-image: url(./article-card-icons/armchair.svg);
}

.container div:nth-child(3) {
  background-image: url(./article-card-icons/masks.svg);
}

.container div:nth-child(4) {
  background-image: url(./article-card-icons/donut.svg);
}

.container div:nth-child(5) {
  background-image: url(./article-card-icons/chain.svg);
}

.card >:nth-child(1) {
  font-size: 26px;
  font-weight: 700;
}

.card >:nth-child(2) {
  color: #000;
  font-size: 16px;
}

.card >:nth-child(3) {
  align-self: end;
  background: #703738;
  width: fit-content;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: .72;
  padding: 15px 30px;
  border-radius: 10px;
  transition: 0.5s;
}

.card >:nth-child(3):hover {
  background: #924849;
}

@media (min-width: 1025px) and (max-width: 1319px) {
  .container {
    gap: 35px 70px;
  }

  .title {
    font-size: 50px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 40px;
    grid-column: 1 / 2;
  }

  .card {
    grid-template-rows: repeat(3, auto);
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }
}

@media (max-width: 540px) {
  .title {
    font-size: 24.5px;
  }

  .card {
    padding: 35px;
    background-size: auto 46%;
  }

  .card >:nth-child(1) {
    font-size: 16px;
  }
  
  .card >:nth-child(2) {
    font-size: 14px;
  }
}