.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  color: #4C5866;
  height: 120px;
}

.logo {
  font-size: 36px;
  font-weight: 600;
}

.menu {
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  column-gap: 33px;
  font-size: 24px;
}

.menuItem {
  padding: 10px 0;
  position: relative;
}

.menuItem::before {
  content: '';
  position: absolute;
  left: 50.3%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #C08081;
  transition: 0.3s;
}

.menuItem:hover::before {
  width: 100%;
}

.socials {
  justify-self: end;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(4, auto);
}

.socials a {
  line-height: 0;
}

.socials a:nth-child(1):hover svg circle {
  fill: #C08081;
}

@media (min-width: 1025px) and (max-width: 1319px) {
  .header {
    height: 100px;
  }
  
  .logo {
    font-size: 30px;
  }

  .menu {
    column-gap: 30px;
    font-size: 20px;
  }
  
  .menuItem {
    padding: 8px 0;
  }

  .socials {
    column-gap: 18px;
  }

  .socials a svg {
    width: 26px;
  }
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: auto 1fr;
    height: 100px;
  }
  
  .logo {
    grid-row: span 2;
    font-size: 28px;
  }

  .menu {
    justify-self: end;
    column-gap: 21px;
    font-size: 20px;
  }
  
  .menuItem {
    padding: 8px 0;
  }

  .socials {
    justify-self: end;
    column-gap: 20px;
  }

  .socials a svg {
    width: 32px;
  }
}

@media (max-width: 540px) {
  .header {
    grid-template-columns: repeat(2, auto);
    height: 60px;
  }
  
  .logo {
    grid-row: span 1;
    font-size: 18px;
  }

  .menu {
    display: none;
    justify-self: end;
    column-gap: 21px;
    font-size: 20px;
  }

  .socials {
    justify-self: end;
    column-gap: 10px;
  }

  .socials a svg {
    width: 26px;
  }
}

@media (max-width: 393px) {}