.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
  z-index: 10;
}

.modalContent {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}

.form {
  display: grid;
  row-gap: 40px;
  position: relative;
  top: -30px;
  justify-self: center;
  align-self: center;
  background: #FFF;
  padding: 40px 60px;
  width: fit-content;
}

.closeBtn {
  position: relative;
  top: 20px;
  right: 20px;
  justify-self: end;
  width: 60px;
  height: 60px;
}

.closeBtn::before {
  position: absolute;
  content: '';
  background: #FFF;
  left: 0;
  width: 100%;
  height: 2px;
  transform: rotate(45deg);
}

.closeBtn::after {
  position: absolute;
  content: '';
  background: #FFF;
  left: 0;
  width: 100%;
  height: 2px;
  transform: rotate(-45deg);
}

.title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.form input,
.form textarea {
  color: #4C5866;
  font-size: 20px;
  outline: none;
  width: 100%;
  padding: 20px;
  border: 2px solid #B6BEC8;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #7B8B9D;
}

.form input:focus,
.form textarea:focus {
  border: 2px solid #4C5866;
}

.form textarea {
  resize: none;
}

.submitBtn {
  width: 100%;
  border: 2px solid #4C5866;
  padding: 20px 0;
  cursor: pointer;
  transition: all .7s;
}

.submitBtn p {
  color: #4C5866;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .7s;
}

.submitBtn:hover p {
  color: #FFF;
}

.submitBtn:hover {
  background: #4C5866;
}

.privacy {
  max-width: 552px;
  font-size: 14px;
  color: #7B8B9D;
}

.privacy a {
  color: #4C5866;
}

.privacy a:hover {
  text-decoration: underline #4C5866;
}

.error {
  color: red;
  margin-top: 8px;
}

.thanks {
  justify-self: center;
  align-self: center;
  text-align: center;
  background: #FFF;
  font-size: 20px;
  padding: 40px 60px;
}

@media (max-width: 1319px) {
  .form {
    row-gap: 20px;
    top: -20px;
    padding: 20px 30px;
  }

  .closeBtn {
    width: 40px;
    height: 40px;
  }

  .title {
    font-size: 24px;
  }

  .form input,
  .form textarea {
    font-size: 16px;
    padding: 16px;
  }

  .submitBtn {
    padding: 16px 0;
  }

  .submitBtn p {
    font-size: 16px;
  }

  .privacy {
    max-width: 441px;
    font-size: 12px;
  }

  .thanks {
    font-size: 16px;
    padding: 20px 30px;
  }
}

@media (max-width: 540px) {
  .closeBtn {
    margin-right: -10px;
  }

  .form {
    row-gap: 10px;
    padding: 20px 10px;
  }

  .modalContent {
    max-width: 540px;
  }

  .title {
    font-size: 19px;
  }

  .form input,
  .form textarea {
    border: 1px solid #B6BEC8;
  }

  .form input:focus,
  .form textarea:focus {
    border: 1px solid #4C5866;
  }

  .submitBtn {
    border: 1px solid #4C5866;
    transition: all .1s;
  }

  .submitBtn p {
    font-weight: 500;
    transition: all .1s;
  }

  .form input,
  .form textarea {
    font-size: 15px;
    padding: 15px;
  }

  .submitBtn {
    padding: 15px 0;
  }

  .submitBtn p {
    font-size: 15px;
  }

  .thanks {
    font-size: 15px;
    padding: 20px 10px;
  }
}