.container {
  display: grid;
  row-gap: 40px;
  color: #4C5866;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 10px;
}

.container >:nth-child(1) {
  grid-column: 1 / 4;
}

@media (max-width: 1024px) {
  .container {
    row-gap: 30px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
  }

  .container >:nth-child(1) {
    grid-column: 1 / 3;
  }
}

@media (max-width: 540px) {
  .container {
    row-gap: 20px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
  }

  .container >:nth-child(1) {
    grid-column: 1 / 2;
  }
}