.hero {
  height: calc(100vh - 120px);
  background-color: #E1E3E7;
  background-image: url(/mainPhoto.webp);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  background-size: auto calc(100vh - 120px);
  color: #4C5866;
}

.heroContainer {
  display: grid;
  height: 100%;
}

.heroContent {
  align-self: center;
  display: grid;
  row-gap: 60px;
  width: 766px;
}

.mainTitle {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;

  span {
    display: block;
  }
}

.mainTitle > :nth-child(1) {
  font-size: 58px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
}

.mainTitle > :nth-child(2) {
  font-size: 32px;
  font-weight: 400;
  padding-top: 10px;
}

.quote {
  position: relative;
  justify-self: end;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: normal;
  width: fit-content;
  background: rgba(255, 255, 255, .25);
  padding: 40px 10px;
  padding-left: 60px;
}

.quote::before {
  content: '';
  position: absolute;
  background-image: url(/double_quotes.svg);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: -10px;
  opacity: 75%;
}

@media (min-width: 1025px) and (max-width: 1319px) {
  .hero {
    height: calc(100vh - 100px);
    background-size: auto calc(100vh - 100px);
  }

  .heroContent {
    row-gap: 40px;
    width: 668px;
  }
  
  .mainTitle {
    row-gap: 20px;
  }
  
  .mainTitle *:nth-child(1) {
    font-size: 48px;
    margin-left: -1px;
  }
  
  .mainTitle *:nth-child(2) {
    font-size: 28px;
  }

  .quote {
    font-size: 19px;
    padding: 30px 10px;
    padding-left: 50px;
  }

  .quote::before {
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    left: -10px;
  }
}

@media (max-width: 1024px) {
  .hero {
    height: calc(100vh - 100px);
    background-size: auto calc(100vh - 100px);
    background-position: center bottom 0;
  }
  
  .heroContent {
    grid-template-rows: 1fr auto auto;
    align-self: end;
    align-content: end;
    row-gap: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
  }
  
  .mainTitle {
    align-self: end;
    row-gap: 20px;
    background: rgba(225, 227, 231, .75);
    padding: 20px;
  }

  .mainTitle *:nth-child(1) {
    font-size: 40px;
    margin-left: -1px;
  }
  
  .mainTitle *:nth-child(2) {
    font-size: 20px;
    padding-top: 0;
  }

  .quote {
    display: none;
  }

  .quote::before {
    display: none;
  }
}

@media (max-width: 540px) {
  .hero {
    height: calc(100svh - 60px);
    background-image: url(/mainPhotoPhone.webp);
    background-size: auto calc(100svh - 60px);
    background-position: center bottom 0;
  }
  
  .heroContent {
    padding-bottom: 20px;
  }
  
  .mainTitle {
    row-gap: 10px;
    padding: 20px 10px;
  }

  .mainTitle *:nth-child(1) {
    font-size: 26px;
    margin-left: -0.5;
  }
  
  .mainTitle *:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    padding-top: 0;
  }
}

@media (max-width: 393px) {
  .mainTitle *:nth-child(1) {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .mainTitle *:nth-child(1) {
    font-size: 24px;
  }
  
  .mainTitle *:nth-child(2) {
    font-size: 16px;
  }
}