.whereRead {
  display: grid;
  row-gap: 40px;
  color: #4C5866;
  padding-top: 80px;
}

.title {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

.whereRead >:nth-child(2) {
  font-size: 24px;
  
  span {
    font-weight: 600;
  }
}

@media (max-width: 540px) {
  .whereRead {
    row-gap: 20px;
    padding-top: 40px;
  }

  .title {
    justify-self: center;
    font-size: 25px;
  }

  .whereRead >:nth-child(2) {
    font-size: 18px;
  }
}